@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap");

:root {
  --primary-clr: #213547;
  --secondary-clr: #42d392;
  --third-clr: #362b63;
  --font-clr: #2c3e50;
  --transition: all 150ms linear;
  --child-width: 80%;
  --business: rgb(0, 97, 161);
  --leisure: rgb(75, 118, 146);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: var(--primary-clr);
  display: grid;
  min-height: 100vh;
  place-content: center;
  font-size: 1.2rem;
  padding: 0 10px;
  margin: 1.5rem 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}

#app {
  font-family: "Teko", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--font-clr);
  width: 450px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0 0;
  background: var(--secondary-clr);
  border-radius: 2px;
}

input {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

input[type="text"] {
  width: var(--child-width);
  padding: 10px;
  margin-bottom: 15px;
}

input[type="submit"] {
  display: block;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
  font-size: 1.5rem;
  transition: var(--transition);
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: white;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: 2px solid var(--secondary-clr);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 12px 12px var(--secondary-clr);
  background-color: var(--secondary-clr);
  transition: var(--transition);
  position: absolute;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: 2px solid var(--secondary-clr);
  outline-offset: 2px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.categories {
  background: var(--primary-clr);
  width: var(--child-width);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

h4 {
  background-color: #2c3e50;
  width: var(--child-width);
  margin: auto;
  padding: 5px 0;
  font-size: 1.4rem;
  font-weight: 100;
  color: white;
}

.category-input-wrapper {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 10px 0;
  background-color: var(--font-clr);
  border-radius: 5px;
}

.category-input-wrapper input {
  display: block;
  margin-bottom: 5px;
}

.category-input-wrapper input:hover {
  cursor: pointer;
}

.categories span {
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.3rem;
  margin-top: 5px;
}

.todo-input {
  display: block;
  border-bottom: 2px solid var(--primary-clr);
  margin: auto;
}

.todo-input:focus {
  border-bottom: 2px solid #3e6485;
  transition: --transition;
}

.inputed-todos {
  background-color: var(--primary-clr);
  color: white;
  font-weight: 100;
  padding: 0 0 5px;
}

.inputed-todos h3 {
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  background-color: var(--font-clr);
  padding: 10px 0 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
  padding: 7px 10px;
  border-radius: 2px;
}

.business {
  outline: 1px solid var(--business);
}

.leisure {
  outline: 1px solid var(--leisure);
}

.delete-button {
  all: unset;
  background:white;
  color: var(--primary-clr);
  padding: 2px 8px;
  margin-left: auto;
  border-radius: 2px;
  transition: var(--transition);
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(143, 63, 63);
  color: white;
}